header, footer {
    background-color: $ladrillo;
}

nav, footer {
    @include flex(flex-end);
    align-items: center;
}

header {
    grid-row: 1 / 2;
}

#logo {
    width: 30rem;
}

.navbar-light .navbar-nav .nav-link {
    color: $gris;
    font-size: 1.6rem;
    border-radius: .5rem;
    &.active {
        color: $ladrillo;
        background-color: $gris;
    }
    &:hover {
        background-color: $gris;
        color: $ladrillo;
    }
    &:focus {
        background-color: $gris;
        color: $ladrillo;
    }
    &.disabled {
        padding: 0.25rem 1rem;
    }
}

ul li ul li a {
    font-size: 1.6rem;
}

.nav-item {
    margin: 0 auto;
}

.dropdown-item {
    color: $ladrillo;
    &:hover {
        color: white;
        background: $ladrillo;
    }
}

footer {
    @include flex(center);
    padding: 2rem;
    grid-row: 3 / 4;
    .footer-container {
        @include flex(space-between);
        align-items: center;
        padding: 1rem;
        width: 100%;
        &__copyright {
            color: $gris;
            font-size: 1.3rem;
            margin: 0;
            width: 70%;
        }
        &__redes {
            @include flex(space-evenly);
            width: 30%;
        }
    }
}