header,
footer {
    background-color: $ladrillo;
}

nav,
footer {
    @include flex(flex-end);
    align-items: center;
}

header {
    grid-row: 1 / 2;
}

#logo {
    width: 25rem;
}

.navbar-light .navbar-nav .nav-link {
    color: $gris;
    font-size: 1.6rem;
    border-radius: .5rem;

    &.active {
        color: $ladrillo;
        background-color: $gris;
    }

    &:hover {
        background-color: $gris;
        color: $ladrillo;
    }

    &:focus {
        background-color: $gris;
        color: $ladrillo;
    }

    &.disabled {
        padding: 0.25rem 1rem;
    }
}

.fixed-top {
    background: $ladrillo;
}

ul li ul li a {
    font-size: 1.6rem;
}

.nav-item {
    margin: 0 auto;
}

.dropdown-item {
    color: $ladrillo;

    &:hover {
        color: white;
        background: $ladrillo;
    }
}

footer {
    display: grid;
    grid-template-rows: 2;
    grid-gap: 1rem;
    padding: 2.5rem;
    justify-content: center;
    div {
        @include flex(center);
        p {
            color: $gris;
            font-size: 1.5rem;
            text-align: center;
            font-size: 1.3rem;
            margin: 0;
        }
        a.creator {
            color: white;
            text-decoration: none;
            &:hover {
                text-shadow:
                    0 0 7px #fff,
                    0 0 10px #fff,
                    0 0 21px #fff,
                    0 0 42px #0fa,
                    0 0 82px #0fa,
                    0 0 92px #0fa,
            }
        }
        img {
            width: 5rem;
        }
        &.footer-container__redes {
            @include flex(space-evenly);
        }
    }
}