@media only screen and (min-width: 700px) {
    .portadas {
        display: grid;
        margin: 3rem auto;
    }
    
    nav ul {
        margin-right: 10px;
        margin-bottom: 0;
        li {
            list-style-type: none;
            display: inline-block;
            position: relative;
            &:hover ul {
                display: block;
            }
            a {
                color: $gris;
                text-decoration: none;
                display: inline-block;
                font-size: 1.6rem;
                margin: 0 25px;
                padding: 16px 10px;
                
            }
            ul {
                background-color: $gris;
                position: absolute;
                min-width: 190px;
                z-index: 9;
                display: none;
                left: 2.5em;
                li a {
                    width: 190px;
                    padding: 1em 1em;
                    margin: 0;
                    color: $ladrillo;
                    text-align: center;
                }
            }
        }
    }

    h2 {
        font-size: 5rem;
    }
    
    .parallax a img {
        width: 20em;
        z-index: 5;
        bottom: 5rem;
    }

    /* Cada disco de discografía */

    .layout-disco {
        grid-template-areas: "titulo titulo"
                             "portada-principal contenido"
                             "discografia discografia";
        &__portada-principal {
            width: 95%;
        }
        &__contenido {
            &__letra p {
            margin: 1.5rem 0 0 0;
            text-align: center; 
            }
            &__sinapsis {
                justify-self: center;
                max-width: 60rem;
            }
        }
        &__discografia__portada {
            width: 15rem;
        }
    }

    h3 {
        margin-left: 30%;
        margin-top: 2rem;
    }

    
}


@media only screen and (min-width: 1024px) {
    
    h1 {
        background-color: $oliva;
        color: $gris;
        font-size: 5vmax;
        text-align: center;
        font-family: $section-title;
        font-weight: 700;
        position: absolute;
        left: 2rem;
        bottom: 5rem;
        width: 35%;
        letter-spacing: .5rem;
        animation: title 10s linear infinite alternate;
        z-index: 5;
    }

    .discografia {
        grid-template-columns: repeat(6, minmax(150px, 250px));
    }

    .historia__container {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        background: none;
        margin: 5rem 1rem;
        padding: 3rem;
        background: rgba(157, 85, 52, .3);
        border-radius: 2.5rem;
        &__ps {
            padding: 1rem;
        }
        &__imgs,
        &__video {
            padding: 1rem;
        }
    }

    form {
        width: 45%;
        margin: 0 auto;
    }
    
    form div, button {
        padding: 1rem 0;
    } 

    .portadaMini {
        padding-bottom: 0;
    }

    footer {
        @include flex(space-between);
        padding: 2rem .5rem;
        grid-row: 3 / 4;
        .footer-container {
            &__copyright {
                width: 40%;
                p {
                    color: $gris;
                    font-size: 1.3rem;
                    margin: 0;
                    width: 100%;
                    text-align: left;
                    padding: 0 2rem;
                }
            }
            &__creator {
                width: 30%;
                display: flex;
                align-items: center;
                p {
                    text-align: center;
                    color: white;
                    
                }
            }
            &__redes {
                @include flex(space-evenly);
                width: 40%;
                img {
                    width: 3.5rem;
                    transition: transform .2s;
                    &:hover {
                        transform: scale(1.1, 1.1);
                        transition: transform .2s;
                    }
                }
            }
        }
    }
}

