/* ----- Formato del documento ----- */

html {
    font-size: 62.5%;
    font-family: $default;
    height: 100%;
    scroll-behavior: smooth;
}

.parallax a img {
    position: absolute;
    bottom: 2em;
    right: 3em;
}

p {
    color: $violeta;
    font-size: 1.6rem;
}

/* Sección Home */

.portadas {
    display: none;
    @include maxwidth;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 15rem));
    grid-template-rows: auto;
    grid-gap: 2rem;
    justify-items: center;
    justify-content: center;
    background: rgba(0,0,0,.2);
    border-radius: 2rem;
    &__portada {
        width: 100%;
        transition: transform .2s;
        &:hover {
            transform: scale(1.1, 1.1);
            transition: transform .2s;
        }
    }
}

.carousel .carousel-item {
    height: 90vh;
    img {
        position: absolute;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
  }

.alert {
    position: absolute;
    top: 52px;
    z-index: 5;
    width: 100%;
}

.alert-warning {
    color: $violeta;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}

/* Sección Discografía */

.discografia {
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 2rem;
    justify-content: center;
    @include maxwidth;
    margin: 0 auto;
    &__portada {
        width: 100%;
        transition: transform .2s;
        &:hover {
            transform:scale(1.1, 1.1);
            transition: transform .2s;
        }
    }
}

/* Cada disco de la sección Discografía */

.layout-disco {
    @include maxwidth();
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-areas: "titulo titulo"
                         "portada-principal portada-principal"
                         "contenido contenido"
                         "discografia discografia";
    row-gap: 2rem;
    margin: 0 auto;
    &__titulo {
        grid-area: titulo;
    }
    &__portada-principal {
        grid-area: portada-principal;
        width: 100%;
        max-width: 30rem;
        justify-self: center;
    }
    &__contenido {
        grid-area: contenido;
        display: grid;
        &__letra p {
            margin: 2rem 0 0 0;
            text-align: center;
        }
        &__sinapsis {
            color: $violeta;
            font-size: 1.6rem;
            font-style: italic;
            text-align: justify;
            margin: 2rem 2rem 0rem 0;
            max-width: 30rem;
            justify-self: center;
        }
    }
    &__discografia {
        grid-area: discografia;
        @include flex(space-evenly);
        align-items: center;
        flex-wrap: wrap;
        background: rgba(0,0,0,.15);
        padding: 1rem;
        border-radius: 2rem;
        margin: 2rem;
        &__portada {
            width: 10rem;
            transition: transform .2s;
            padding-bottom: 1rem;
            &:hover {
                transform: scale(1.2, 1.2);
                transition: transform .2s;
            }
        }
    }
}

/* Sección Historia */

.historia {
    width: 100%;
    @include maxwidth;
    margin: 0 auto;
    &__container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        &__imgs {
            @include flex(center);
            img {
                width: 25%;
                height: 35rem;
                object-fit: cover;
                &:hover {
                    width: 27.5%;
                    transition: width .5s;
                }
            }
        }
        &__ps {
            @include flex(space-evenly);
            flex-flow: column;
            line-height: 2.5rem;
            width: 90%;
            max-width: 60rem;
            justify-self: center;
            text-align: justify;
            padding: 0 1.5rem;
        }
        &__video {
            @include flex(center);
        }
    }
}

/* Sección Participaciones */

.participaciones {
    display: grid;
    margin: 3rem auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    @include maxwidth;
}

/* Sección Contacto */

.container {
    padding: 2rem;
}

.input-group-text,
.form-select,
.form-control,
.btn,
form
 {
    font-size: 1.3rem;
}

form div, button {
    padding: 1rem 0;
} 

form button {
    width: 100%;
    margin: 1rem auto;
}
